@charset 'UTF-8';

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/animations';
@import 'base/reset';

// maps
$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

body{
    @include bg-image($imageUrl);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $gray; // load a color while loading the image
    font-size: $font-size;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include spacing(padding, 0 15px);
    height: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @include spacing(margin, 0 -15px);
}

.col{
    position: relative;
    width: 100%;
    @include spacing(margin, 15px auto);
    @include spacing(padding, 15px);
    display: block;
    color: $gray;
}

.col > div {
    border: 3px solid;
    text-align:center;
    @include border-radius(10px);
    @include spacing(padding, 40px);
}

.div-1 {
    @include bg-transparentColor($black);
}

.div-2 {
    @include bg-transparentColor($orange);
}

.div-3 {
    @include bg-transparentColor($green);
}

.div-item:nth-of-type(1) {
    @include animation(0s, 2.0s, animation-slide-in-down, ease);
}
.div-item:nth-of-type(2) {
    @include animation(0.5s, 2.0s, animation-slide-in-down, ease, backwards);
}
.div-item:nth-of-type(3) {
    @include animation(1s, 2.0s, animation-slide-in-down, ease, backwards);
}

@for $i from 1 through 12 {
    $width: percentage($i / 12);
    .col-#{$i}{
        @extend .col;
        flex: 0 0 $width;
        max-width: $width;
    }
    .col-sm-#{$i}{
        @extend .col;
    }
    .col-md-#{$i}{
        @extend .col;
    }
    .col-lg-#{$i}{
        @extend .col;
    }
    .col-xl-#{$i}{
        @extend .col;
    }
}

@include respond-to('sm') {
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .col-sm-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@include respond-to('md') {
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .col-md-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@include respond-to('lg') {
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .col-lg-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}

@include respond-to('xl') {
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .col-xl-#{$i}{
            flex: 0 0 $width;
            max-width: $width;
        }
    }
}