// Animations
@include keyframe(animation-slide-in-down) {
    0% {
        transform: translate(0,-400%);
    }

    100% {
        transform: translate(0,0);
    }
}

@include keyframe(animation-slide-in-up) {
    0% {
        transform: translate(0,400%);
    }

    100% {
        transform: translate(0,0);
    }
}