// Mixins
@mixin bg-image($image) {
    background-image: url($image);
}

@mixin bg-transparentColor($color) {
    background-color: rgba($color: $color, $alpha: .3);
}

@mixin padding($padding...) {
    padding: $padding;
}

@mixin spacing($type, $values...) { 
    #{$type}: $values;
}

@mixin border-radius($r: 8px) {
    border-radius: $r;
}

@mixin keyframe ($animation_name) {
    @keyframes #{$animation-name}  {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation, $direction: forward, $fillmode: fowards) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
}

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media only screen and(min-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }
    @else {
        @warn "Traženi ključ ne postoji u mapi. Dostupni ključevi su: #{map-keys($breakpoints)}"
    }
}